body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #020617;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    background: #3b82f6;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.hero {
    text-align: center;
    padding: 60px 20px;
}

section {
    padding: 40px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

.hidden {
    display: none;
}

input, textarea {
    margin: 10px;
    padding: 10px;
    width: 250px;
}